<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spit.com.tensquare.qa.dao.TbSpitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spit.com.tensquare.qa.pojo.TbSpit">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="publishtime" property="publishtime" />
        <result column="userid" property="userid" />
        <result column="nickname" property="nickname" />
        <result column="visits" property="visits" />
        <result column="thumbup" property="thumbup" />
        <result column="share" property="share" />
        <result column="comment" property="comment" />
        <result column="state" property="state" />
        <result column="parentid" property="parentid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, publishtime, userid, nickname, visits, thumbup, share, comment, state, parentid
    </sql>

</mapper>
